* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #19202e;
}

.my-button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #39507c;
  height: 48px;
  width: 183px;
  border-radius: 30px;
  margin: 20px auto;
  cursor: pointer;
}

.my-button a {
  padding-top: 10px;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}

.my-button:hover {
  background-color: #4f6a9d;
}

.my-convo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #39507c;
  height: 48px;
  width: 250px;
  border-radius: 30px;
  margin: 20px auto;
  cursor: pointer;
}

.my-convo a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}
.my-convo:hover {
  background-color: #4f6a9d;
}

.my-live {
  border: none;
  background-color: #39507c;
  height: 40px;
  width: 140px;
  border-radius: 30px;
  margin: 20px auto;
  cursor: pointer;
}
.my-live a {
  padding-top: 10px;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}

.my-live:hover {
  background-color: #4f6a9d;
}

.mysubmit {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #39507c;
  height: 48px;
  width: 792px;
  border-radius: 30px;
  margin: 20px auto;
  cursor: pointer;
}

.mysubmit a {
  padding-top: 10px;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}
.mysubmit:hover {
  background-color: #4f6a9d;
}

.navbar {
  display: flex;
  margin-top: 20px;
}

.nav-1 {
  display: flex;
  gap: 20px;
}

.hamburger {
  font-size: 28px;
  cursor: pointer;
}

.nav-2 {
  display: flex;
  gap: 30px;
}

.nav-3 {
  border: none;
  height: 38px;
  width: 94px;
  background-color: #ff6c65;
  cursor: pointer;
  border-radius: 30px;
}
.nav-3 a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
}
.nav-3:hover {
  background-color: #fe4d43;
}

.side-nav {
  height: 300px;
  width: 80px;
  margin-top: 25vh;
  margin-left: 20px;
  background-color: #161d29;
}

@media (min-width: 992px) {
  .offcanvas {
    visibility: visible !important;
    transform: none !important;
  }
}
@media (min-width: 992px) {
  .hamburger {
    display: none;
  }
}

.offcanvas-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  padding-right: 40px;
  margin-top: -25px;
}

.offcanvas-body ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.offcanvas-body ul li a {
  text-decoration: none;
  color: #86b3ce;
  font-size: 12px;
}
.offcanvas-body ul li a:hover {
  color: #ffffff;
}

.offcanvas-body ul li a.active {
  color: #fe4d43;
}
.my-close {
  margin-left: 30px;
}

.mysvg {
  height: 20px;
}
.myicons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161d29;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.fa-brands {
  color: #a5b3ce;
  font-size: 18px;
}

.fa-brands:hover {
  color: #629feb;
}

.nav-3 {
  display: flex;
}

.part1 {
  position: relative;
  background-color: #1e2738;
  height: auto;
  text-align: center;
  padding-bottom: 20px;
}

.my-image {
  position: absolute;
  border: 8px solid #1e2738;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  left: 390px;
  top: -90px;
  z-index: 2;
  background-image: url(profile\ dummy.png);
  background-size: cover;
}

.contain {
  width: 1000px;
  margin-top: 60px;
}

h1 {
  padding-top: 120px;
  color: #ffffff;
  font-weight: bolder;
}

.text1 {
  color: #a5b1ba;
  padding: 10px 160px;
}

.part2 {
  width: 1000px;
  background-color: #1e2738;
  height: auto;
  text-align: center;
  padding-bottom: 20px;
}
.part3 {
  width: 1000px;
  background-color: #1e2738;
  height: auto;
  text-align: center;
  padding-bottom: 20px;
}

h2 {
  color: #ffffff;
  font-weight: 600;
  padding-top: 40px;
}

.mycard {
  background-color: #1e2738;
  border: 1px solid #1e2738;
  color: #ffffff;
  text-align: left;
  padding-bottom: 20px;
}

.html {
  margin-top: -14px;
}

.logo-container {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  align-items: center;
  justify-items: center;
}

.skill-logo {
  width: 60px;
  height: auto;
  transition: transform 0.3s ease;
}

.skill-logo:hover {
  transform: scale(1.1);
}
.expresslogo {
  width: 130px;
  height: auto;
}

.myfooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #86b3ce;
  padding: 20px;
}

.my-projects {
  margin: 0px auto;
  color: white;
  width: 1000px;
  background-color: #1e2738;
  height: auto;
}
.project {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}
.projects {
  padding: 40px;
}
.project-img {
  background-image: url(assets/project-thumb-1.png);
  height: 210px;
  width: 478px;
  background-size: cover;
  border-radius: 10px;
}
.stack {
  display: flex;
  gap: 20px;
}

.my-form {
  width: 900px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.my-info {
  display: flex;
  gap: 20px;
}

.my-info input {
  background-color: #273248;
  color: #94b3ce;
  padding: 12px;
  border: none;
  border-radius: 10px;
  width: 386px;
}

textarea {
  background-color: #273248;
  color: #a5b3ce;
  padding: 12px;
  border: none;
  border-radius: 10px;
  width: 792px;
  margin-top: 20px;
}

.text3 {
  color: #94b3ce;
  text-align: center;
  font-size: 20px;
  letter-spacing: 5px;
  font-weight: 400;
}

.resume-content {
  width: 900px;
  margin: 0px auto;
  padding-bottom: 10px;
}
.resume-line {
  color: white;
}

.contact-info ul {
  display: flex;
  list-style: none;
  color: #94b3ce;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.resume-sections {
  display: flex;
  padding-top: 30px;
  gap: 25px;
}

.resume-section1 {
  display: flex;
  flex-direction: column;
  width: 60%;
  text-align: left;
}

.resume-section2 {
  display: flex;
  flex-direction: column;
  width: 40%;
  text-align: left;
  border-left: 1px solid rgb(103, 102, 102);
  padding-left: 20px;
}

h3 {
  color: white;
  font-size: 20px;
  font-weight: 900;
}
.text4 {
  color: #94b3ce;
  text-align: justify;
  margin-top: 20px;
  font-size: 18px;
}
.experience {
  margin-top: 20px;
}

.experience ul {
  list-style: circle;
  color: #69b6f9;
  font-size: 16px;
}
h4 {
  color: white;
}

.tech-stack {
  font-size: 16px;
}

.text5 {
  color: white;
  margin-top: 15px;
}
.progress {
  height: 5px;
  background-color: #1a2130;
}
.progress-bar {
  height: 10px;
  background-color: #94b3ce;
}

.badge {
  background-color: #1a2130;
  margin-left: 10px;
  margin-top: 10px;
  padding: 10px;
}

.my-project ul {
  list-style: square;
}

h5 {
  font-weight: 700;
}

h6 {
  color: white;
  margin-top: 15px;
}

.education p {
  color: #7c94aa;
}

@media (max-width: 768px) {
  .contain {
    width: 400px;
    height: 200px;
    margin-top: 60px;
    padding-bottom: 20px;
  }

  .my-image {
    left: 100px;
  }
  .text1 {
    padding: 10px 30px;
  }
  .part2 {
    width: 400px;
    margin-top: 300px;
  }
  .part3 {
    width: 400px;
    margin-top: 0px;
  }
  .logo-container {
    width: 300px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
    justify-items: center;
  }
  .project-part {
    margin-top: 300px;
  }
  .my-projects {
    width: 400px;
  }
  .project {
    flex-direction: column;
  }
  .project-img {
    height: 210px;
    width: 325px;
  }
  .project {
    margin-top: 40px;
  }
  .resume-content {
    width: 300px;
  }
  .contact-info ul {
    gap: 10px;
  }
  .contact-info ul li {
    word-break: break-word;
  }
  .resume-sections {
    flex-direction: column;
    width: 300px;
  }
  .resume-section1 {
    width: 100%;
  }

  .resume-section2 {
    width: 100%;
    text-align: left;
    border-left: 0px solid rgb(103, 102, 102);
    padding-left: 0px;
  }

  .my-form {
    width: 400px;
  }

  .my-info input {
    width: 170px;
  }

  textarea {
    width: 360px;
  }
  .mysubmit {
    height: 48px;
    width: 360px;
    border-radius: 30px;
    margin: 20px auto;
    cursor: pointer;
  }
}

@media (max-width: 991px) {
  .contain,
  .part2,
  .part3,
  .my-projects {
    max-width: 700px;
  }

  .resume-content,
  .my-form {
    max-width: 700px;
  }

  .my-image {
    height: 180px;
    width: 180px;
    top: -80px;
    left: 270px;
  }

  h1 {
    padding-top: 110px;
    font-size: 28px;
  }

  .text1 {
    padding: 10px 50px;
    font-size: 16px;
  }

  .logo-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }

  .project {
    flex-direction: column;
    align-items: center;
  }

  .project-img {
    width: 100%;
    max-width: 500px;
  }

  .resume-sections {
    flex-direction: column;
  }

  .resume-section1,
  .resume-section2 {
    width: 95%;
    border-left: none;
    padding-left: 20px;
  }

  .contact-info ul {
    gap: 20px;
  }

  .my-info input {
    width: 300px;
  }

  textarea {
    width: 630px;
  }

  .mysubmit {
    width: 90%;
  }

  .nav-2 {
    gap: 20px;
  }
}

@media (max-width: 1024px) {
  .contain {
    width: 1000px;
  }
  .part2 {
    width: 1000px;
    margin-top: 250px;
  }
  .part3 {
    width: 1000px;
  }
  .my-projects {
    width: 1000px;
  }
  .project {
    flex-direction: row;
    align-items: center;
  }
  .resume-sections {
    width: 100%;
    gap: 20px;
    flex-direction: row;
  }
  .resume-section1 {
    width: 65%;
  }
  .resume-section2 {
    width: 35%;
    border-left: 1px solid grey;
  }
  .resume-content {
    width: 100%;
    padding: 0 20px;
  }
  .contact-info ul {
    gap: 20px;
    flex-wrap: wrap;
  }
  .logo-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}

@media (max-width: 844px) {
  .myfooter {
    display: none;
  }
  .container-fluid {
    width: 700px;
  }
}
